<div class="user-profile">
  <mat-card>
    <h1>Профиль</h1>

    <form [formGroup]="profileForm" (ngSubmit)="submitForm()" *ngIf="!isLoadingData">
      <mat-form-field class="full-width">
        <input matInput placeholder="Имя*" type="text" formControlName="firstName">
        <mat-error *ngIf="profileForm.controls.firstName.invalid">
          Длина имени должна быть от 1 до 255 символов
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Фамилия*" type="text" formControlName="lastName">
        <mat-error *ngIf="profileForm.controls.lastName.invalid">
          Длина фамилии должна быть от 1 до 255 символов
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="E-mail*" type="email" formControlName="email">
        <mat-error *ngIf="profileForm.controls.email.invalid">
          Неверный формат E-mail
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Телефон" type="phone" formControlName="phone">
        <mat-error *ngIf="profileForm.controls.phone.invalid">
          Номер телефона должен быть в формате +380XXХХХХХХХ
        </mat-error>
      </mat-form-field>

      <div>
        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="showChangePassword()"
          *ngIf="!showChangePasswordMode">
          Сменить пароль
        </button>

        <div class="password-fields" *ngIf="showChangePasswordMode">
          <mat-form-field class="full-width">
            <input matInput placeholder="Новый пароль" type="password" formControlName="password">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Повторите новый пароль" type="password" formControlName="confirmPassword">
          </mat-form-field>

          <mat-chip-list>
            <mat-chip color="warn" selected="true" *ngIf="profileForm.errors?.passwordMismatch">
              Пароли не совпадают
            </mat-chip>

            <mat-chip color="warn" selected="true" *ngIf="profileForm.errors?.passwordTooShort">
              Пароль должен состоят не менее, чем из 6 символов
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <div class="btn-container">
        <button mat-raised-button type="submit" color="primary" [disabled]="profileForm.invalid">Сохранить</button>
      </div>
    </form>

    <div class="loader" *ngIf="isLoadingData">
      <mat-spinner diameter="50" color="primary"></mat-spinner>
    </div>
  </mat-card>
</div>

