.products-list {
  display: flex;
  justify-content: center;
  padding: 20px;
}

mat-card {
  width: 1200px;
  max-width: 1200px;
}

.buttons-container {
  display: flex;
}

.buttons-container button {
  margin: 5px;
}

.loader,
.not-found {
  display: flex;
  justify-content: center;
  align-content: center;
}

.mat-cell,
.mat-header-cell {
  text-align: center;
}

.mat-column-select {
  flex-grow: 0;
  padding-right: 10px;
  overflow: visible;
}
