.products-list {
  display: flex;
  justify-content: center;
  padding: 20px;
  @media screen and (max-width: 600px) {
    padding: 10px;
  }
}

mat-card {
  width: 1200px;
  max-width: 1200px;
}

.buttons-container {
  display: flex;
}

.buttons-container button {
  margin: 5px;
}

.loader,
.not-found {
  display: flex;
  justify-content: center;
  align-content: center;
}

.mat-header-row,
.mat-row {
  @media screen and (max-width: 600px) {
    padding: 0;
  }
}

.mat-cell,
.mat-header-cell {
  text-align: center;
}

.mat-cell {
  &.description {
    text-align: left;
  }
}

.mat-column-select,
.mat-column-expandCollapse {
  flex-grow: 0;
  padding-right: 10px;
  overflow: visible;
}

.mat-column-title,
.mat-column-description {
  padding: 5px;
}

.element-row.expanded {
  border-bottom-color: transparent;
}
