<div class="products-list">
  <mat-card>

    <div class="products" *ngIf="!isLoadingData && dataSource?.data.length">

      <!-- Buttons  -->
      <div class="buttons-container">
        <button mat-raised-button color="primary" (click)="onCreate()">Создать товар</button>
        <button *ngIf="selection.selected.length" mat-raised-button color="warn" (click)="onDelete()">Удалить</button>
      </div>

      <mat-table #table [dataSource]="dataSource">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              color="primary"
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox
              color="primary"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>Наименование</mat-header-cell>
          <mat-cell *matCellDef="let item">{{ item.title }}</mat-cell>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef>Цена</mat-header-cell>
          <mat-cell *matCellDef="let item">{{ item.price | decimal }}</mat-cell>
        </ng-container>

        <!-- Edit buttons Column -->
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef>Редактировать</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button mat-icon-button (click)="onEdit(item.id)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Description -->
        <ng-container matColumnDef="description">
          <mat-cell *matCellDef="let item" class="description">
            {{ item.element.description }}
          </mat-cell>
        </ng-container>

        <!-- Expanded/Collapsed mode -->
        <ng-container matColumnDef="expandCollapse">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button style="visibility: hidden;">
              <mat-icon></mat-icon>
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="rowClickHandler($event, row)">
              <mat-icon>{{ expandedElement == row ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns;"
          class="element-row"
          [class.expanded]="expandedElement == row">
        </mat-row>

        <mat-row
          *matRowDef="let row; columns: ['description']; when: isExpansionDetailRow"
          [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
          style="overflow: hidden">
        </mat-row>
      </mat-table>

      <mat-paginator
        #paginator
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 50]"
        [showFirstLastButtons]="true">
      </mat-paginator>

      <!-- Buttons  -->
      <div class="buttons-container">
        <button mat-raised-button color="primary" (click)="onCreate()">Создать товар</button>
        <button *ngIf="selection.selected.length" mat-raised-button color="warn" (click)="onDelete()">Удалить</button>
      </div>
    </div>

    <div class="loader" *ngIf="isLoadingData">
      <mat-spinner diameter="50" color="primary"></mat-spinner>
    </div>

    <div class="not-found" *ngIf="!isLoadingData && !dataSource?.data.length">
      <p>Товары не найдены. Вы можете <a routerLink="/private/product/create">добавить товар</a></p>
    </div>
  </mat-card>
</div>
